<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>ko</string>
    <key>CFBundleDisplayName</key>
    <string>zipanda</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.ybnet.zipanda</string>
          <string>kakaoc2e55b6dbe7fdb19d1af5422eff956ce</string>
          <string>com.googleusercontent.apps.190854026241-d8rcdc5bge3ghblhsq9bc4r4a2jji17t</string>
          <string>220072876524977</string>
          <string>fb220072876524977</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>KAKAO_APP_KEY</key>
    <string>c2e55b6dbe7fdb19d1af5422eff956ce</string>
    
    <key>FacebookAppID</key>
    <string>220072876524977</string>
    <key>FacebookClientToken</key>
    <string>58dabe0997f854ffd4892e6ccdde9eb8</string>
    <key>FacebookDisplayName</key>
    <string>집판다</string>
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>naversearchapp</string>
      <string>naversearchthirdlogin</string>
      <string>com.ybnet.zipanda</string>
      <string>kakaokompassauth</string>
      <string>kakaolink</string>
      <string>c2e55b6dbe7fdb19d1af5422eff956ce</string>
      <string>kakaoc2e55b6dbe7fdb19d1af5422eff956ce</string>
      <string>com.googleusercontent.apps.190854026241-d8rcdc5bge3ghblhsq9bc4r4a2jji17t</string>
      <string>fbapi</string>
        <string>fbapi20130214</string>
        <string>fbapi20130410</string>
        <string>fbapi20130702</string>
        <string>fbapi20131010</string>
        <string>fbapi20131219</string>
        <string>fbapi20140410</string>
        <string>fbapi20140116</string>
        <string>fbapi20150313</string>
        <string>fbapi20150629</string>
        <string>fbapi20160328</string>
        <string>fbauth</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>${PRODUCT_NAME}에서 카메라에 접근하려고 합니다.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>${PRODUCT_NAME}에서 위치정보에 접근하려고 합니다.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>${PRODUCT_NAME}에서 위치정보에 접근하려고 합니다.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>${PRODUCT_NAME}에서 위치정보에 접근하려고 합니다.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>${PRODUCT_NAME}에서 포토라이브러리에 접근하려고 합니다.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>${PRODUCT_NAME}에서 포토라이브러리에 접근하려고 합니다.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>
